In [1]:
import pandas as pd

check = pd.read_csv("./Raw_data/multiple_csv/Dublin_Rent/Double/rent_data_double_dublin27.csv")

check.loc[:]

,prices,available,address
0,€190 weekly,Available Now - Ucd/trinity - college rental\n...,"Kilcross Dublin 18, Sandyford, Dublin 18"
1,€900 monthly,Available Now - Beautiful home in the center o...,"4 Saint Mary's Place, Howth, Co. Dublin, Howth..."
2,€400 monthly,Available Now - -- weekends only -- room not ...,"Melville Cove - Weekends Only, Finglas, Dublin 11"
3,€900 monthly,Available 28th August - We have a spacious dou...,"Holywell Mews,swords,co. Dublin, Kinsealy, Co...."
4,"€1,000 monthly",Available 8th September - Recently renovated h...,"Lakelands Crescent,stillorgan,blackrock,co. Du..."
5,"€1,100 monthly",Available Now - Modern and stylish double room...,"The Edges, Beacon South Quarter, Sandyford, Du..."
6,"€1,050 monthly",Available Now - Double room in newly decorated...,"69 Grace O'malley Road, Howth, Dublin 13"
7,"€1,000 monthly",Available Now - Large double bedroom ready to ...,"Rusheeny Village, Clonsilla, Dublin 15"
8,"€1,000 monthly",Available Now - Available from august1st. Love...,"The Meadows West, Belgard Heights, Dublin 24"
9,"€1,400 monthly",Available 15th September - Discover a better s...,"Tully Green, Cherrywood, Co. Dublin"
10,"€1,200 monthly",Available Now - *long term accommodation avail...,"Graydon,newcastle,co. Dublin, Baldonnell, Dubl..."
11,€800 monthly,Available 1st September - Modern 2 bedroom apa...,"Saint Edmunds Park, Juliet Square, Dublin 22, ..."
12,"€1,000 monthly","Available 1st September - Bright, airy and spa...","9 Foxborough Close, Lucan, Co. Dublin, Lucan, ..."
13,€175 weekly,Available Now - Dublin host families are proud...,"Westbourne Drive, Clondalkin, Dublin 22"
14,"€1,200 monthly",Available Now - Hola! i am looking for a flatm...,"Railway Street, Dublin 1"
15,"€1,500 monthly",Available Now - King-size room available in a ...,"Beacon South Quarter,dublin 18, Stillorgan, Co..."
16,€275 weekly,Available Now - *includes all utility bills*\n...,"Cedar Court, Terenure, Dublin 6"
17,"€1,000 monthly",Available Now - Lovely large double bedroom av...,"Littlepace, Clonee, Dublin 15"
18,"€1,250 monthly",Available Now - Beautiful area in the heart of...,"51 Donnybrook Manor, Dublin 4, Donnybrook, Dub..."
19,"€1,300 monthly",Available 2nd September - This is 3 bedroom ap...,"Quayside Quarters Dublin Landings, Dublin 01, ..."